.section3 {
  background: linear-gradient(to right, #5e2d383a, #000000);
  padding: 4rem 2rem;
  text-align: center;
}

.advanced-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
  padding: 0 2rem;
}

.gallery-card {
  height: 260px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.02);
  position: relative;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.card-img-wrapper {
  flex: 1;
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.gallery-card:hover .gallery-image {
  transform: scale(1.15);
}

.caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.8rem;
  text-align: center;
  font-weight: bold;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.gallery-card:hover .caption {
  transform: translateY(0%);
}
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  cursor: zoom-out;
}

.lightbox img {
  max-width: 90%;
  max-height: 80vh;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.lightbox p {
  margin-top: 1rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}
